.floatingPanel{
    width: 1200px;
    height: 0;
    position: fixed;
    z-index: 100;
    display: none;
}

@media only screen and (min-width: 769px) {
    .floatingPanel{
        display: block;
    }
}